In [1]:
import numpy as np
import pandas as pd
import re
import tensorflow as tf
import data_process

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train_data = data_process.Data(train)
test_data = data_process.Data(test)
x_data, y_data = train_data.process_data()
x_data.head()

   Survived  Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3     1    1  22.0      1      0   7.2500         2
1         1       1     3    0  38.0      1      0  71.2833         0
2         1       3     2    0  26.0      0      0   7.9250         2
3         1       1     3    0  35.0      1      0  53.1000         2
4         0       3     1    1  35.0      0      0   8.0500         2